.hero-student {
    background-image: url('https://image.tienphong.vn/w1000/Uploaded/2024/xqeioxnexq/2022_09_15/267414746-662651741765273-5724882972541705666-n-6007.jpg'); /* Replace with your own image */
    background-size: cover;
    background-position: center;
    height: 89.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-student-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-student-content {
    position: relative;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}


.hero-student-content p {
    font-size: 1.5rem;
    margin: 20px;
}